<head>
	<link rel="stylesheet" type="text/css" href="../static/style.css">
	<meta charset="UTF-8">
</head>
<body>
	<header>
		<div class="main-menu-container">
			<div class="menu-triger">
				<div class="menu-triger-lines"></div>
			</div>
			<nav class="main-menu">
				<ul>
					<li><a href="#">Main</a></li>
				    <li><a href="#">Settings</a></li>
				    <li><a href="#">Whither</a></li>
			    </ul>
		    </nav>
        </div>
        <div class="header-content-container">
        	<h1>Name</h1>
        	<div>
        		<form>
        			<div>
        				<input type='file' name='file' id='inputUploadFile' class='hidden'>
        				<label for='inputUploadFile'><img src="../static/img/camara.png" class="camera-button"></label>
        			</div>
        			<div class='uploadImageOverlay hidden'>
        				<div class='uploadImageSettingsContainer'>
        					<div>
        						<img src='' class='uploadImage'>
        					</div>
        					<div class='uploadEffectLevel'>
        						<input type='range' name='effectLevel' class='hidden' id='effectLevel'>
        						<label for='effectLevel'>
        							<div class='effectLevelLine'>
        								<div class='effectLevelPin'></div>
        								<div class='effectLevelProgresLine'></div>
        							</div>
        						</label>
        					</div>
        					<fieldset class = 'uploadEffectFieldset'>
        						<input type='radio' name='effect' id='uploadEffectNone' value='none' class='hidden' checked>
        						<label for='uploadEffectNone' class='uploadEffectLabel inputActive'>
        							<div class='uploadEffectPreview'></div>
        						</label>
        						<input type='radio' name='effect' id='uploadEffectChrome' value='grayscale' class='hidden'>
        						<label for='uploadEffectChrome' class='uploadEffectLabel '>
        							<div class='uploadEffectPreview effectChrome'></div>
        						</label>
                                <input type='radio' name='effect' id='uploadEffectSepia' value='sepia' class='hidden'>
        						<label for='uploadEffectSepia' class='uploadEffectLabel '>
        							<div class='uploadEffectPreview effectSepia'></div>
        						</label>
        						<input type='radio' name='effect' id='uploadEffectMarvin' value='invert' class='hidden'>
        						<label for='uploadEffectMarvin' class='uploadEffectLabel'>
        							<div class='uploadEffectPreview effectMarvin'></div>
        						</label>
        						<input type='radio' name='effect' id='uploadEffectPhobos' value='saturate' class='hidden'>
        						<label for='uploadEffectPhobos' class='uploadEffectLabel'>
        							<div class='uploadEffectPreview effectPhobos'></div>
        						</label>
        						<input type='radio' name='effect' id='uploadEffectHeat' value='contrast' class='hidden'>
        						<label for='uploadEffectHeat' class='uploadEffectLabelHeat '>
        							<div class='uploadEffectPreview effectHeat'></div>
        						</label>
        					</fieldset>
        					<div>
        						<input type='text' name='hashtags' placeholder ='# hashtag' class='uploadFormHashtags'>
        						<textarea class='uploadFormDescription' name='description' placeholder='your comment'></textarea>
        					</div>
        					<div class='uploarFormErrorMessage'></div>
        					<div>
        						<button type='reset' class='uploadFormButton active' id='uploadCancel'>Cancel</button>
        						<button type='submit' class=' uploadFormButton active' id='uploadSubmit'>Send</button>
        					</div> 
        				</div>
        			</div>
                </form>
        	</div>
        	<p class="header-comment">something about this fcking site</p>
        </div>
	</header>
	<main>
		<section class="picturesContainer">
			
		</section>
		<section class="openedPictureContainer hidden">
			<div class="openedPicture">
				<img src="" class="openedPictureImg">
				<img src='../static/img/close.png' class= 'closeButton'>
				<div class="openedPictureDescription"></div>
				<div class="openedPictureStatus">
					<img src="../static/img/comment.png">
					<span class="pictureComments"></span>
					<img src="../static/img/heart.png">
                    <span class="pictureLikes"></span>
			    </div>
			    <div class="pictureCommentsContainer"></div>
		    </div>
		</section>
	</main>
	<template id="templatePictureExample">
		<div class="pictureExample">
			<img src="" class="pictureImg">
			<div class="pictureStatus">
				<img src="../static/img/comment.png">
				<span class="pictureComments"></span>
                <img src="../static/img/heart.png">
                <span class="pictureLikes"></span>
			</div>
		</div>
	</template>
	<template id="templateCommentBlock">
		<div class="commentBlock">
			<p class="commentText"></p>
			<p class="commentAuthor">Anonymous</p>
		</div>
	</template>
	<script type="text/javascript" src="../static/myjs.js"></script>
</body>